body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
  display: inline-block;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

h5 {
  font-variant-caps: small-caps;
  color: rgb(77, 135, 161);
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

form {
  display: inline-block;
}

input {
  padding: 10px;
  background-color: rgba(211, 221, 234, 0.6);
  border: none;
  border-radius: 5px;
}

button {
  border: none;
  background-color: transparent;
  padding: 5px;
}

a {
  color: rgb(77, 135, 161);
}

#search-button {
  width: 30px;
}

#location-button {
  width: 30px;
}

#current-temperature-icon {
  width: 80px;
  display: block;
  margin: 20px auto;
}

#weather-description {
  margin: 0 auto;
  text-transform: capitalize;
}

.today-icon {
  width: 25px;
  margin: 5px 10%;
}

.weather-wrapper {
  margin: 60px auto;
  width: 650px;
}

.weather-app {
  border-radius: 5px;
  border: 1px solid #d3ddea;
  padding: 20px;
  margin: 10px auto;
}

#current-temperature {
  font-weight: bold;
  font-size: 54px;
  text-align: right;
  vertical-align: middle;
}

div.units {
  text-align: left;
  padding: 0;
}

.units small {
  font-size: 12px;
  position: relative;
  top: 16.5px;
}

.today-info {
  margin-bottom: 30px;
}
.days {
  padding: 10px;
  transition: all ease-in-out;
}

.days:hover {
  border: 1px solid #d3ddea;
  border-radius: 5px;
  background-color: rgba(211, 221, 234, 0.1);
}

.forecast-icon {
  width: 35px;
  display: block;
  margin: 0 auto 5px;
}

.forecast-temp-icon {
  width: 15px;
  display: block;
  margin: 0 auto 2px;
}

.country {
  font-size: 20px;
}
